<div class="container">
    <div class="home-bar">
        <img  class="logo" src="../../assets/Logo.svg" [style.cursor]="'pointer'" routerLink="/">
    
    </div>
    <div class="content">
        <img class="thank" src="../../assets/good.jpg">
    <div class="text-box">
            <h1>Reservation Confirmed!</h1>
            <h4>Awesome! Be on the lookout for an email containing additional reservation instructions.</h4>
        <div class="changes">
            <h4>Need to make changes?</h4> 
            <button (click)="onModify()" class="status">Modify Reservation</button>
        </div>
    </div>
    </div>
</div>
