.form-container {
    max-width: 1000px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

.cancel-edit-bar {
    margin-bottom: 10px;
}

  .btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
  }


  .home-bar{
    display: flex;
    justify-content:center;
    margin-bottom: 250px;
    width: 100%;
    margin: 0 auto;

    
}


.logo{
  margin-bottom: 20px;
}