table{
    margin-top: 25px;
    width: 100%;
}

.create {
    float: right;
    padding-top: 5px;
}

.search-form{
    float:left;
    width: 50%;
    border-radius: 5px;
}

.actions {
    padding-bottom: 3%;
}

.login{
    margin-left: 5px;
}

.hide{
    display: none;
}

.loading{
    margin-left: 45%;
}