<div class="home-bar">
    <img src="../../assets/Logo.svg" [style.cursor]="'pointer'" routerLink="/">
    <span class="fill-remaining-space"></span>
    <img class="link" [routerLink]="['/login']" src="../../assets/Button.svg">

</div>
<div class="home-container">
   
<div class="home-content">
      
      
    <p class="title">Your next favorite meal is a click away.</p>
    <p class="caption" >Reserve your table today, it's fast, easy, and free.</p>
    <div class="button-group">
        <img  class="start" src="../../assets/start.svg" [routerLink]="['/reserve']"/>
    <img  class="check" src="../../assets/check.svg" [routerLink]="['/check-status']"/>
    </div>
</div>
<img class="cover_image" src="../../assets/cover_image.png">

</div>