.home-container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    
}

.home-bar{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin-right: 50px;
}

.caption{
    font-size: 26px;
}

.title, h1{
    font-weight: 700;
    font-size: 45px;
    color: #18214D;
    width: 80%;
    line-height: 60px;
}
.start{
    background-color: #EB5757;
    width: 250px;
}

.check{
    width: 250px;
    cursor: pointer;
}

.cover_image{

width: auto;
height: 750px;
}

.button-group{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.start{
    width: 150px;
    cursor: pointer;
}
